/* 
    NOTES ***
*/

/* CSS Reset - START */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* Only needed if a JS framework like React is used */
/* #root, #__next {
    isolation: isolate;
} */
/* CSS Reset - END */



/* TYPOGRAPHY - START */
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
    font-display: swap;
}

* {
    font-family: 'Inter';
}

.font-weight--400 {
    font-weight: 400;
}
.font-weight--600 {
    font-weight: 600;
}
.font-weight--700 {
    font-weight: 700;
}
/* TYPOGRAPHY - END */



/* COLOURS - START */
* {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}
/* COLOURS - END */



/* ELEMENTS - START */
p {
    font-size: 0.875rem;
}
/* ELEMENTS - END */