/* 
    NOTES ***
*/

/* CSS Reset - START */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* CSS Reset - END */



/* COLOURS - START */
* {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}
/* COLOURS - END */



/* TYPOGRAPHY - START */
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf');
    font-display: swap;
}

* {
    font-family: 'Inter';
    color: var(--white);
    /* Font Sizes - START */
    --para-400: 0.766rem;
    --para-600: 1.05rem;
    --h1-400: 1.75rem;
    /* Font Sizes - END */
}

.font-weight--400 {
    font-weight: 400;
}
.font-weight--600 {
    font-weight: 600;
}
.font-weight--700 {
    font-weight: 700;
}
.font-size--1-2{
    font-size: var(--para-600);
}
.font-h1 {
    font-size: var(--h1-400);
}
/* TYPOGRAPHY - END */



/* ELEMENTS - START */
body {
    background-color: var(--grey-900);
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    min-width: 320px;
}

main {
    background-color: var(--grey-800);
    margin: 0.25em;
    padding: 2.5em 3em;
    border-radius: 1em;
}

img {
    border-radius: 50%;
    width: 7em;
    margin-bottom: 1.2em;
}

p {
    font-size: var(--para-400);
}

button {
    background-color: var(--grey-700);
    border: none;
    padding: 0.7em 0;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: var(--green);
    color: var(--grey-900);
}
/* ELEMENTS - END */



/* CLASSES & IDs - START */
.btn-sec {
    min-width: 21em;
    gap: 1em;
}

.city {
    color: var(--green);
}

.bio {
    margin: 1em 0 1.5em 0;
}
/* CLASSES & IDs - END */



/* UTILS - START */
.display--flex {
    display: flex;
}
.align-items--center {
    align-items: center;
}
.flex-direction--column {
    flex-direction: column;
}
/* UTILS - END */



/* MEDIA QUERIES - START */
@media only screen and (max-width: 440px) {
    main {
        padding: 1.2em 1em 2em 1em;
    }
}
@media only screen and (max-width: 500px) {
    .btn-sec {
        min-width: 0;
        width: 100%;
    }
    .bio {
        max-width: 90%;
    }
}
/* MEDIA QUERIES - END */